.main-chat
  .main-chat__group--bar
    .group--bar__info
      .left-box
        .group-name
          = @group.name
        .group-member__list
          Member
          - @group.users.each do |user|
            = user.name            
      .edit-btn
        = link_to edit_group_path(@group), class: "btn" do
          Edit
  .main-chat__message--list
    .message
      = render @messages

  .main-chat__message--form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'text-form', placeholder: 'type a message'
      = f.label :image, class: 'image-form' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'input-image'
      = f.submit 'Send', class: 'send-btn'